---
import Layout from "@/layouts/layout.astro";
import Card from "@/components/card.astro";

const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=30&offset=0");
const json = await res.json();

const results: { name: string; url: string }[] = json.results;
const promises: Promise<any>[] = results.map(result =>
  fetch(result.url).then(res => res.json())
);

const resolvedPromises = await Promise.all(promises);
const pokemons = resolvedPromises.map(pokemon => ({
  name: pokemon.name,
  image: pokemon.sprites.other["official-artwork"].front_default,
}));
---

<Layout>
  <div class="grid grid-cols-4 gap-4">
    {pokemons.map(pokemon => <Card pokemon={pokemon} />)}
  </div>
</Layout>
