---
import { Image } from "@astrojs/image/components";

export interface Props {
  pokemon: {
    name: string;
    image: string;
  };
}

const { pokemon } = Astro.props;
---

<div
  class="w-fit p-4 bg-white dark:bg-zinc-800 rounded-md border border-zinc-200 dark:border-zinc-700 shadow-sm"
>
  <Image
    src={pokemon.image}
    alt={pokemon.name}
    width={200}
    height={200}
    format="webp"
    draggable={false}
    class="drop-shadow-sm"
  />
  <h2>{pokemon.name}</h2>
</div>
